:root{
  --color-imperial-red: #ef233c;
  --color-space-cadet: #2b2d42-;
  
  --btn-danger-color: var(--color-imperial-red);
  --btn-color: var(--color-space-cadet)
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  font-family: 'Rubik', sans-serif;  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
