.labelTemp{
    display: flex;
    flex-direction: column;
}

.labeltemp > label{
    text-transform: uppercase;
    font-size: 0.75rem;
}

.labelTemp > span{
    font-weight: 700;
    font-size: 1rem;
}